<section class="contact--us"  style="border-top: 2px solid #efefef;">
  <div class="container">
    <div class="col-xs-12">
      <div class="row center-xs">
        <h1>ارتباط با ما</h1>
      </div>
      <div class="row center-xs"><i class="contact--dots"></i></div>
      <div class="row first-xs"><i class="locationicon icon-location2"></i>
        <p>{{ site.contact-address }}</p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row center-xs"><i class="tellphone icon-phone"></i>
            <p>{{ site.contact-tell }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row center-xs"><i class="emailiocn icon-envelop"></i>
            <p>{{ site.email }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row center-xs">
            <form action="https://formspree.io/eslami.amir76@gmail.com" role="from" method="POST">
              <div class="form-group">
                <label for="name">نام شما:</label>
                <input type="text" name="name" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="_replyto">آدرس ایمیل شما:</label>
                <input type="email" name="_replyto" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="ـsubject">موضوع پیام:</label>
                <input type="text" name="ـsubject" required>
              </div>

              <div class="form-group">
                <label for="message">متن پیام:</label>
                <textarea name="message" width="100%" required></textarea>
              </div>

              <div class="form-send">
                <input type="hidden" name="_next" value="//mahdi-khademi.github.io/thanks.html">
                <input type="submit" class="button--send" value="ارسال پیام">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
