<section class="center--content">
  <div class="center--content_img col-xs-12">
    <div class="container">
      <div class="content--litter_img col-sm--hidden">
        <figure></figure>
      </div>
      <div class="content--litter_txt">
        <h1>{{ site.content-title }}</h1>
        <p>{{ site.content-desc }}</p>
      </div>
    </div>
  </div>
</section>
<section id="about" class="about--we">
  <div class="container">
    <div class="col-xs-12">
      <div class="row center-xs middle-xs"><i class="about--we-icon icon-bullhorn"></i>
        <h1>درباره ما</h1>
      </div>
      <div class="row center-xs"><i class="about--dots"></i></div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p>{{ site.about-we1 }}</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <p>{{ site.about-we2 }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do">
  <div class="container">
    <div class="col-xs-12">
      <div class="row center-xs">
        <h1>چه کارهایی می توانیم انجام دهیم؟</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="row center-xs">
            <div class="what-title"><i class="icon-books"></i>
              <h2>{{ site.what-title1}}</h2>
            </div>
          </div>
          <div class="what-content">
            <p>{{ site.what-desc1}}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="row center-xs">
            <div class="what-title"><i class="icon-book"></i>
              <h2>{{ site.what-title2}}</h2>
            </div>
          </div>
          <div class="what-content">
            <p>{{ site.what-desc2 }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <div class="row center-xs">
            <div class="what-title"><i class="icon-newspaper"></i>
              <h2>{{ site.what-title3}}</h2>
            </div>
          </div>
          <div class="what-content">
            <p>{{ site.what-desc3}}</p>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row center-xs"> <a href="#" target="_blank" class="more--button">بیشتر بخوانید ...</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact--us">
  <div class="container">
    <div class="col-xs-12">
      <div class="row center-xs">
        <h1>ارتباط با ما</h1>
      </div>
      <div class="row center-xs"><i class="contact--dots"></i></div>
      <div class="row first-xs"><i class="locationicon icon-location2"></i>
        <p>{{ site.contact-address }}</p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row center-xs"><i class="tellphone icon-phone"></i>
            <p>{{ site.contact-tell }}</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="row center-xs"><i class="emailiocn icon-envelop"></i>
            <p>{{ site.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
