// Variables:
// =========


// Configuration
$direction   : rtl;
$line-height : 1.618em;

// Fonts
$font-regular   : "Vazir";
$font-bold      : "IRANSansWeb_Bold";
$font-icon      : "icomoon";

// Grid
$breakpoint-large      : 58rem;
$breakpoint-medium     : 36rem;
$breakpoint-small      : 20rem;

// Colors
$c-white        : #ffffff;
$c-blue         : #0076b0;
$c-dark         : #555;
$c-red          : rgb(220, 78, 78);
$color-hover    : #e74c3c;
